In [0]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Spark DF").getOrCreate()

In [0]:
df = spark.read.csv("/FileStore/tables/Studentdata-1.csv") #this can't address csv file with header row
df.show()
df.printSchema()

## Hello This is a Title

In [0]:
#Treating header as column name
df = spark.read.option("header",True).csv("/FileStore/tables/Studentdata-1.csv") 
df.show()

In [0]:
df.printSchema() #Will eventually return all the columns as string type (however there could be many columns with different data types)

In [0]:
#Infering schema from data
df = spark.read.option("header",True).option("inferSchema",True).csv("/FileStore/tables/Studentdata-1.csv") 
df.printSchema()

In [0]:
#Treating multiple options as arguments in a single "options" API
df = spark.read.options(header="True", inferSchema = "True").csv("/FileStore/tables/Studentdata-1.csv") 
df.printSchema()

In [0]:
#Spark provides schema
#way to customize user defined schema
#in above roll no has interger data type, this can be changed to text type

from pyspark.sql.types import StructType, StructField, IntegerType, StringType

schema = StructType([
  StructField("age", IntegerType(), True),
  StructField("gender", StringType(), True),
  StructField("name", StringType(), True),
  StructField("course", StringType(), True),
  StructField("roll", StringType(), True),
  StructField("marks", IntegerType(), True),
  StructField("email", StringType(), True)
])

df = spark.read.options(header = "True").schema(schema).csv("/FileStore/tables/Studentdata-1.csv")
df.printSchema()

In [0]:
#Creating dataframe from RDD
from pyspark import SparkConf, SparkContext
conf = SparkConf().setAppName("RDD")
sc = SparkContext.getOrCreate(conf = conf)

#Creating rdd
rdd = sc.textFile("/FileStore/tables/Studentdata-1.csv")
header = rdd.first()
rdd = rdd.filter(lambda x:x!=header)
rdd = rdd.map(lambda x:x.split(","))
rdd.collect()

#creating dataframe from rdd
#without header
df_rdd = rdd.toDF() #without header
#with header
cols = header.split(",")
df_rdd = rdd.toDF(cols)
df_rdd.show()

In [0]:
df_rdd.printSchema()

In [0]:
#Customizing own schema
from pyspark.sql.types import StructType, StructField, IntegerType, StringType

schema = StructType([
  StructField("age",IntegerType(),True),
  StructField("gender",StringType(),True),
  StructField("name",StringType(),True),
  StructField("course",StringType(),True),
  StructField("roll",StringType(),True),
  StructField("marks",IntegerType(),True),
  StructField("email",StringType(),True),
])

df_rdd = spark.createDataFrame(rdd,schema = schema)
df_rdd.printSchema()

In [0]:
df_rdd.show()

In [0]:
#To address the above err
rdd = rdd.map(lambda x:[int(x[0]),x[1],x[2],x[3],x[4],int(x[5]),x[6]])
df_rdd = spark.createDataFrame(rdd, schema = schema)
df_rdd.printSchema()

In [0]:
df_rdd.show()

In [0]:
#Selecting dataframe columns
#df.select("gender","age").show()
#df.select(df.gender, df.age).show()
from pyspark.sql.functions import col, lit
#df.select(col("gender"),col("age")).show()
#df.select("*").show() #selecting all the columns in a dataframe
#Using indexes
df.select(df.columns[2:]).show() #from 3rd column onwards

In [0]:
#Spark DF withColumn

df2 = df
#df2.printSchema()
#Chaning roll no type from string to integer
df3 = df2.withColumn("rollno",col("roll").cast("Integer"))
#Converting back to string type
df3 = df3.withColumn("rollno",col("rollno").cast("String"))
#df3.printSchema()
df3 = df3.withColumn("country",lit("USA"))
df3.show()

In [0]:
#Updating or creating multiple columns
df3 = df3.withColumn("min_marks", col("marks")-10).withColumn("max_marks",col("marks")+15).withColumn("marks",col("marks")-2)
df3.show()

In [0]:
#Spark dataframe filter rows using filter
df3.filter(df.course == "DB" ).show()

In [0]:
df3.filter(col("course")=="DB").show()

In [0]:
#Multiple condition filters
df3.filter((df.course=="DB") & (df.marks > 50)).show()

In [0]:
#multiple value filters
course_list = ["DB","Cloud"]
df3.filter(df.course.isin(course_list)).show()

In [0]:
#like equivalent in dataframe
df3.filter(df.name.like("%oo%")).show()

In [0]:
#Quiz 1
df4 = df
#1.0 Create a new column "total marks" in the dataframe and assign it with a value 120
df4 = df4.withColumn("total marks",lit(120))
#2.0 Create a new column "percentage mark"
df4 = df4.withColumn("percentage mark",df.marks/col("total marks"))
#3.0 create a new dataframe having those students enrolled in "OOP" course and secured more than 80%
df5 = df4.filter((df.course == "OOP") & (col("percentage mark") > 0.80))
#4.0 create a new dataframe having those students enrolled in "Cloud" course and secured more than 60%
df6 = df4.filter((col("course")=="Cloud") & (col("percentage mark")>0.6))
#Show the above dataframe's name and marks column
df6.select("name","marks").show()

In [0]:
#Display all the unique rows for age, gender, course
df_unique = df.select("age","gender","course").distinct()
df_unique.show()

In [0]:
df_dropduplicate = df.dropDuplicates(["age","gender",'course'])
df_dropduplicate.show()

In [0]:
#Office data csv
df_off = spark.read.options(header= True,inferSchema = True).csv("/FileStore/tables/OfficeData.csv")
df_off.show()

In [0]:
df_off.printSchema()

In [0]:
df_off = df_off.select(["employee_name", "department","state","salary","age","bonus"])
df_off.show()

In [0]:
#Create a DF, sorted on bonus as per ascending order and show it
df_o1 = df_off.sort(df_off.salary.asc())
df_o1.show()

In [0]:
#Xreate a DF, sorted on age and salary in descending and ascending order respectively
df_o2 = df_off.sort(df_off.age.desc(), df_off.salary.asc())
df_o2.show()

In [0]:
#Xreate a DF, sorted on age, bonus and salary in descending, descending and ascending order respectively
df_o3 = df_off.sort([df_off.age.desc(),df_off.bonus.desc(), df_off.salary.asc()])
df_o3.show()

In [0]:
#Group By
df_gb = df
df_gb.groupBy("gender").count().show()
df_gb.groupBy("gender").sum().show()
df_gb.groupBy("gender").avg().show() #df_gb.groupBy("gender").mean().show() #Both has same meaning
df_gb.groupBy("gender").max().show()
df_gb.groupBy("gender").min().show()

In [0]:
#In above, it is calculating the aggregation of all numeric column
#To do the aggregation at a specific column, below is the syntax
df_gb.groupBy("gender").sum("marks").show()
df_gb.groupBy("gender").max("marks").show()
df_gb.groupBy("gender").min("marks").show()
df_gb.groupBy("gender").avg("marks").show()

In [0]:
#Multiple column wise group by
df_gb.groupBy("course","gender").sum("marks").show()

In [0]:
#To do the multiple aggregation
from pyspark.sql.functions import count, sum, avg, max, min
df.groupBy("course","gender").agg(count("*").alias("total_enrolled"),sum("marks").alias("total_scored"),max("marks").alias("max_marks_scored"),
                                 min("marks").alias("min_marks_scored")).show()

In [0]:
#Applying filter on grouped data
#Before grouping
df_gb.filter(df_gb.course == "DB").groupBy("gender").sum("marks").show()

In [0]:
#After grouping
df_gb1 = df_gb.groupBy("gender").agg(count("*").alias("total_enrolled"))
df_gb1.filter(df_gb1.total_enrolled > 50).show() #Method 1
df_gb1.where(df_gb1.total_enrolled > 50).show() # Method 2

In [0]:
#Catch 22 situation
#df_gb.groupBy("gender").agg(count("*").alias("total_enrolled")).where(df_gb.total_enrolled>50).show()
#will raise an error "AttributeError: 'DataFrame' object has no attribute 'total_enrolled'"
#to address this error 
df_gb.groupBy("gender").agg(count("*").alias("total_enrolled")).filter(col("total_enrolled")>50).show()
df_gb.groupBy("gender").agg(count("*").alias("total_enrolled")).where(col("total_enrolled")>50).show()

In [0]:
#Quiz 2
df_q = df
#1.0 Display the total number of students enrolled in the course
df_q.groupBy("course").count().show()
#2.0 display the total number of male and female students enrolled in each course
df_q.groupBy("course","gender").count().show()
#3.0 Display marks scored by each gender for each course
df_q.groupBy("course","gender").sum("marks").show()
#4.0 Display min, max, avg marks in each course by each age group
df_q.groupBy("course","age").agg(min("marks").alias("min_marks_scored"), max("marks").alias("max_marks_scored"),avg("marks").alias("avg_marks_scored")).show()

In [0]:
#Quiz 2 (word count)
df_wc = spark.read.csv("/FileStore/tables/word_data.txt")
df_wc.show()

In [0]:
df_wc.groupBy("_c0").count().show() #Method 1
df_wc.groupBy("_c0").agg(count("*").alias("total_count")).show()

In [0]:
#Reading a text file
df_wc_txt = spark.read.text("/FileStore/tables/word_data.txt")
df_wc_txt.show()
df_wc_txt.groupBy("value").count().show()

In [0]:
#UDF
df_off.show()

In [0]:

from pyspark.sql.functions import udf
from pyspark.sql.types import IntegerType, DoubleType

#create a function
def total_salary(salary, bonus):
  return salary + bonus

#Create an UDF
totalsalaryudf = udf(lambda x, y: total_salary(x, y), IntegerType())

df_off.withColumn("total_salary", totalsalaryudf(df_off.salary, df_off.bonus)).show()

In [0]:
#Quiz 2 (UDF)
#create a new column "increment" and provide the increment with the following criteria
# 1. if the employee is from NY, increment will be 10% of salary plus 5% of bonus
# 2. if the emploee is from CA, increment will be 12% of salary plus 3% of bonus

def increment_fun (state, salary, bonus):
  if state == "NY":
    return salary * 0.1 + bonus * 0.05
  else:
    return salary * 0.12 + bonus * 0.03
  
incrementudf = udf(lambda x,y,z: increment_fun(x, y, z), DoubleType()) 

df_off.withColumn("total_increment",incrementudf(df_off.state,df_off.salary, df_off.bonus )).show() #

In [0]:
#Quiz 3:

#Read the data
df = spark.read.options(inferSchema = "True", header = "True").csv("/FileStore/tables/OfficeDataProject.csv")
df = df.select("employee_id", "employee_name", "department", "state", "salary", "age", "bonus")

#1.0 Total no of employees in the company
print("Total no of employees in the company: ",df.count())

#2.0 Total no of departments in the company
print("Total no of departments in the company: ", df.select("department").distinct().count()) # Method 1
print("Total no of departments in the company: ", df.select("department").dropDuplicates(["department"]).count()) #Method 3


#3.0 Print department names in the company
print("The department names are: ")
df.select("department").distinct().show() #Method 1
print("Total no of departments in the company: ", df.select("department").dropDuplicates(["department"]).show()) #Method 2

#4.0 Total employees in each department
print("The department wise employee count are: ")
df.groupBy("department").count().show()

#5.0 Total employees in each state
print("The state wise employee count are: ")
df.groupBy("state").count().show()

#6.0 Total employees in each state in each department
print("State-wise employee count for each department")
df.groupBy("state","department").count().show()

#7.0 Min and Max Salary in each department and sort salaries in ascending order
df.groupBy("department").agg(min("salary").alias("Minimum_salary"), max("salary").alias("Maximum_salary")).sort(col("Minimum_salary").asc()).show()

#8.0 Names of employees working in NY state under Finance department whose bonus amount is greater than average bonus of all the employees in NY state
avg_NY_bonus = df.filter(df.state == "NY").groupBy("state").agg(avg("bonus").alias("avg_NY_salary")).select("avg_NY_salary").collect()[0]["avg_NY_salary"]
df.filter((df.state == "NY") & (df.department=="Finance")).filter(df.bonus > avg_NY_bonus).show() #Method 1
#df.filter((df.state == "NY") & (df.department=="Finance") & (df.bonus > avg_NY_bonus)).show() # Method 2

#9.0 Raise the salary by $500 for all employees where age > 45 (Method 1)
df = df.filter(df.age > 45).withColumn("salary",col("salary")+500)
df.show()
#Method 2 (udf way)
def inr_salary(age, salary):
  if age > 45:
    salary += 500
  return salary

revised_salary_udf = udf(lambda x,y: inr_salary(x,y), IntegerType())
df.withColumn("salary",revised_salary_udf(df.age, df.salary)).show()

#10.0 Create DF of all those employees whose age > 45 and save them in a file
df_save = df.filter(df.age>45)
df_save.write.mode("overwrite").options(header = "True").csv("/FileStore/tables/output")